<ng-template #content let-c="close" let-d="dismiss" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Task</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{viewTask.task}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteTask(viewTask.id)">Delete</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="update(viewTask.id)">Update</button>
    </div>
</ng-template>


<div class="row justify-content-center">
    <div class="col-md-12 col-lg-8 pt-3">
        <div class="card">
            <div class="card-header bg-info text-center">
                <h4>Task Dashboard</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <nav class="navbar row">
                                    <div class="justify-content-start">
                                        <app-search (taskToSearch)="Search1($event)"></app-search>
                                    </div>
                                    <div class="justify-content-end">
                                        <input type="submit" value="Add a Task" class="col btn btn-block btn-primary" (click)="create()">
                                    </div>
                                </nav>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="justify-content-center">
                        <tr *ngFor="let task of tasks">
                            <td (click)="open(content, task)">
                                {{ task.task }} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center pt-5">
    <button class="btn btn-danger col-lg-3 col-sm-12 col-md-6" (click)="logout()">logout</button>
</div>