<h1 style="text-align: center;">
    ToDo Dashboard
</h1>

<nav class="navbar">
    <input type="text" class="form-control" name="task" [(ngModel)]="task" (ngModelChange)="Search()" placeholder="Enter to search">
</nav>

<table class="table table-bordered" style="border: 5px solid;">
    <thead>
        <tr>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td> {{ task.task }} </td>
            <td>
                <button>Delete</button>
                <button>Update</button>
            </td>
        </tr>
    </tbody>
</table>