<h1 style="text-align: center;">
    ToDo Dashboard
</h1>

<nav class="navbar">
    <input type="text" class="form-control" name="taskSearch" [(ngModel)]="taskSearch" (ngModelChange)="Search()" placeholder="Enter to search">
</nav>

<div class="container-fluid">
    <table class="table table-striped justify-content-around jumbotron" style="max-width: 70%;">
        <thead>
            <tr>
                <th>Task</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td> {{ task.task }} </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)="update(task.id)">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="justify-content-center">
    <button class="btn btn-primary" (click)="create()">create new task</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger" (click)="logout()">logout</button>
</div>