<div class="container-fluid">
    <div class="form-group">
        <label>Task</label>
        <input rows="8" type="text" class="form-control" [(ngModel)]="taskUpdate.task">
    </div>
    <div >    
        <ng-template [ngIf]="update_task === false">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="create()">Create</button>
            </div>
        </ng-template>
        <ng-template [ngIf]="update_task === true">
            <div class="form-group">
                <button type="submit" class="btn btn-danger" (click)="update()">Update</button>
            </div>
        </ng-template>
    </div>
</div>